In [3]:
import pandas as pd

In [6]:
dat2=pd.read_csv("D:\Desktop\VS studio\Data\survey_results_public.csv")

In [5]:
dat2.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [7]:
dat2['YearsCode'] = pd.to_numeric(dat2['YearsCode'], errors='coerce')

In [58]:
dat2.nsmallest(10, 'YearsCode')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
54,55,I am a student who is learning to code,"Student, full-time","Iran, Islamic Republic of...",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,R,R;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RStudio,RStudio,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN
80,81,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Uzbekistan,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,"Developer, front-end;Student;Designer","Just me - I am a freelancer, sole proprietor, ...",UZS\tUzbekistani som,1.000000e+09,Yearly,HTML/CSS;JavaScript;Node.js,HTML/CSS;JavaScript;Node.js,MongoDB,MongoDB,NaN,NaN,jQuery,Angular.js;jQuery;React.js;Vue.js,NaN,NaN,Git,Git,Visual Studio Code,Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, definitely",No,Under 18 years old,Man,Prefer not to say,Prefer not to say,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,105024.0
136,137,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.0,3,"DevOps specialist;Engineer, site reliability",10 to 19 employees,GBP\tPound sterling,3.000000e+04,Yearly,C#;Java;JavaScript;Python;SQL,Go;Python;SQL;TypeScript,Elasticsearch;MongoDB;MySQL;PostgreSQL;SQLite,Elasticsearch;MariaDB;MongoDB;MySQL;PostgreSQL,AWS;Microsoft Azure,AWS;Microsoft Azure,ASP.NET;ASP.NET Core ;Django,Django,.NET Framework;.NET Core / .NET 5,Pandas;TensorFlow;Torch/PyTorch,Ansible;Chef;Docker;Terraform;Unity 3D,Ansible;Docker;Kubernetes;Terraform;Unity 3D,NaN,NaN,MacOS,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,I have an anxiety disorder,Too long,Easy,38778.0
215,216,I am a developer by profession,"Student, part-time",Turkmenistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,Dart,Go;Python,Firebase;SQLite,PostgreSQL,Google Cloud Platform,NaN,NaN,NaN,Flutter,TensorFlow,Git,NaN,Android Studio;Visual Studio Code,Vim;Xcode,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
218,219,I am a student who is learning to code,"Student, part-time",Turkey,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,C#;Dart;Kotlin;Python,C#;Java,SQLite,NaN,NaN,NaN,Flask,Django,.NET Framework;Flutter;NumPy;Pandas,TensorFlow;Torch/PyTorch,Git,NaN,Android Studio;IntelliJ;PyCharm;Rider;Webstorm...,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,NaN,Yes,A few times per month or weekly,"Yes, somewhat",Yes,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Easy,NaN
555,556,I am a student who is learning to code,"Student, full-time",Nepal,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;Python,HTML/CSS;Java;JavaScript;Node.js;Python,Microsoft SQL Server;MySQL,MySQL,NaN,NaN,Django;React.js,Django;FastAPI;React.js,NaN,NaN,NaN,NaN,PyCharm;Visual Studio,Visual Studio,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,No,NaN,Neutral,No,18-24 years old,Woman,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too long,Easy,NaN
577,578,I am a developer by profession,Employed full-time,Ukraine,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,1.0,Less than 1 year,"Developer, front-end",20 to 99 employees,UAH\tUkrainian hryvnia,8.200000e+03,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript;Node.js;SQL;TypeScript,NaN,NaN,NaN,NaN,React.js,Express;React.js;Svelte,NaN,NaN,Git,Git,Visual Studio Code,Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per week,Yes,A few times per month or weekly,"Yes, definitely",Yes,25-34 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,4008.0
640,641,I am a student who is learning to code,"Independent contractor, freelancer, or self-em...",Russian Federation,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",1.0,NaN,"Developer, front-end",NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python,HTML/CSS;JavaScript;Node.js;TypeScript,NaN,NaN,Heroku,NaN,Vue.js,Vue.js,React Native,NaN,Git,Git,Visual Studio;Webstorm,Webstorm,Windows,Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,18-24 years old,Man,No,Prefer to self-describe:,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
667,668,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,1.0,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C++;Julia;Node.js,NaN,NaN,Heroku,AWS;DigitalOcean;Google Cloud Platform;IBM Clo...,NaN,NaN,Keras;NumPy;Pandas;TensorFlow,Qt;React Native;Torch/PyTorch,Git,Kubernetes,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,NaN,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,NaN,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
765,766,I am a student who is learning to code,I prefer not to say,Indonesia,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,Java;Kotlin,C++;Dart;JavaScript;Kotlin;Python;Swift;TypeSc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Android Studio;IntelliJ,Android Studio;PyCharm;Visual Studio Code,Windows,Google it;Do other work and come back later,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,NaN

In [9]:
dat2['YearsCode'].median()

10.0

In [10]:
dat2.groupby('MainBranch')

In [11]:
print(dat2.groupby('MainBranch').groups)

{'I am a developer by profession': [0, 3, 4, 8, 9, 10, 11, 12, 16, 17, 20, 23, 24, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 40, 44, 45, 48, 50, 51, 52, 53, 55, 56, 57, 59, 60, 66, 67, 68, 69, 71, 72, 74, 75, 77, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 113, 114, 116, 117, 118, 119, 121, 122, 123, 125, 128, 129, 130, 131, 134, 135, 136, 137, 138, 139, 141, 142, 143, 144, 145, 146, 150, ...], 'I am a student who is learning to code': [1, 5, 7, 13, 15, 21, 22, 38, 39, 49, 54, 73, 78, 82, 94, 115, 147, 149, 169, 197, 200, 204, 216, 218, 220, 221, 241, 247, 248, 255, 257, 266, 277, 283, 287, 291, 293, 297, 303, 307, 310, 320, 331, 340, 343, 388, 391, 394, 395, 407, 411, 418, 423, 427, 431, 445, 446, 447, 453, 461, 466, 479, 484, 531, 542, 551, 553, 555, 557, 558, 568, 573, 593, 604, 622, 623, 630, 633, 636, 640, 641, 643, 647, 665, 667, 674, 685, 695, 699, 704, 706, 721, 737, 740, 746, 747, 763, 765, 766, 835, ...], 'I am not primarily a developer, but I write code sometimes as part of my work': [2, 18, 25, 26, 41, 42, 58, 61, 62, 64, 70, 76, 81, 91, 124, 126, 127, 148, 153, 156, 160, 170, 176, 181, 206, 209, 239, 249, 252, 256, 268, 284, 285, 295, 312, 313, 330, 336, 363, 364, 371, 372, 373, 381, 386, 393, 403, 430, 432, 444, 450, 463, 481, 503, 506, 515, 548, 549, 579, 585, 587, 590, 596, 616, 625, 652, 664, 680, 692, 707, 709, 748, 755, 756, 757, 764, 782, 793, 798, 814, 832, 870, 871, 916, 930, 942, 967, 978, 1024, 1028, 1034, 1039, 1040, 1063, 1093, 1101, 1103, 1117, 1118, 1124, ...], 'I code primarily as a hobby': [6, 30, 43, 46, 63, 65, 112, 133, 140, 162, 191, 195, 202, 232, 251, 281, 282, 294, 298, 299, 302, 314, 321, 339, 341, 355, 362, 400, 408, 416, 426, 455, 490, 507, 525, 550, 561, 600, 648, 656, 722, 725, 730, 753, 792, 795, 802, 844, 879, 883, 887, 892, 893, 927, 938, 983, 987, 995, 1078, 1084, 1098, 1143, 1157, 1170, 1202, 1217, 1226, 1232, 1233, 1239, 1240, 1245, 1267, 1285, 1299, 1302, 1305, 1328, 1353, 1357, 1367, 1396, 1399, 1417, 1471, 1496, 1501, 1526, 1575, 1576, 1582, 1612, 1658, 1670, 1672, 1679, 1697, 1719, 1756, 1768, ...], 'I used to be a developer by profession, but no longer am': [14, 19, 47, 107, 120, 132, 214, 217, 253, 342, 370, 508, 520, 597, 606, 701, 723, 738, 858, 1014, 1056, 1087, 1105, 1192, 1221, 1227, 1450, 1745, 1753, 1813, 1816, 1861, 1879, 1883, 1929, 1948, 1964, 2021, 2110, 2316, 2583, 2725, 2784, 2795, 2822, 2914, 2976, 2985, 3016, 3018, 3043, 3152, 3174, 3257, 3372, 3575, 3681, 3856, 3911, 3933, 3997, 4026, 4087, 4162, 4216, 4218, 4291, 4306, 4421, 4447, 4474, 4530, 4589, 4677, 4892, 4925, 4941, 4984, 5074, 5116, 5118, 5153, 5189, 5262, 5278, 5387, 5394, 5498, 5646, 5689, 5717, 5859, 5971, 5981, 6033, 6068, 6207, 6208, 6325, 6421, ...], 'None of these': [164, 960, 991, 1004, 1351, 1418, 1563, 1694, 1741, 1780, 2112, 2311, 2484, 2682, 2769, 2886, 3127, 3270, 3615, 3688, 4205, 4390, 4432, 4466, 4510, 4738, 4912, 5091, 5101, 5299, 5349, 5666, 5688, 5761, 6436, 6522, 6718, 6973, 7133, 7499, 7688, 7698, 8209, 8220, 8235, 8480, 8645, 8738, 8850, 9102, 9312, 9426, 10302, 10492, 10496, 10529, 10534, 10866, 11011, 11053, 11631, 11668, 12305, 12415, 12419, 12699, 12914, 13142, 13451, 13496, 13847, 14072, 15333, 15435, 15487, 15906, 15940, 16036, 16233, 16944, 16972, 16975, 17464, 17873, 18297, 18460, 18598, 18602, 18910, 18995, 19056, 19654, 19728, 20025, 20621, 20709, 20733, 20774, 21140, 21242, ...]}

In [12]:
gk=dat2.groupby('MainBranch')

In [13]:
gk.first()

,ResponseId,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
MainBranch,,,,,,,,,,,,,,,,,,,,,
I am a developer by profession,1,"Independent contractor, freelancer, or self-em...",Slovakia,District of Columbia,England,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,17.0,10,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
I am a student who is learning to code,2,"Student, full-time",Netherlands,Georgia,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7.0,None,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
"I am not primarily a developer, but I write code sometimes as part of my work",3,"Student, full-time",Russian Federation,Virginia,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",40.0,30,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,160932.0
I code primarily as a hobby,7,I prefer not to say,United States of America,New Hampshire,England,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3.0,None,...,Prefer not to say,Prefer not to say,No,Straight / Heterosexual;Bisexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
"I used to be a developer by profession, but no longer am",15,"Not employed, but looking for work",United Kingdom of Great Britain and Northern I...,Louisiana,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,40.0,9,...,45-54 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,NaN
None of these,165,I prefer not to say,United Kingdom of Great Britain and Northern I...,New York,England,Something else,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",7.0,Less than 1 year,...,Prefer not to say,Man,No,Bisexual,White or of European descent,None of the above,None of the above,Too short,Easy,NaN

In [14]:
dat2['ConvertedCompYearly'].sum()

5547554706.0

In [15]:
dat2.describe()

         ResponseId     YearsCode     CompTotal  ConvertedCompYearly
count  83439.000000  79982.000000  4.718300e+04         4.684400e+04
mean   41720.000000     12.485722  2.119407e+69         1.184262e+05
std    24086.908893      9.626184  4.603702e+71         5.272944e+05
min        1.000000      1.000000  0.000000e+00         1.000000e+00
25%    20860.500000      5.000000  1.600000e+04         2.702500e+04
50%    41720.000000     10.000000  6.700000e+04         5.621100e+04
75%    62579.500000     17.000000  1.400000e+05         1.000000e+05
max    83439.000000     50.000000  1.000000e+74         4.524131e+07

In [16]:
dat2['ConvertedCompYearly'].count()

46844

In [17]:
dat2['Country']

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [18]:
dat2['Country'].value_counts(normalize=True)

Country
United States of America                                0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
                                                          ...
Saint Kitts and Nevis                                   0.000012
Dominica                                                0.000012
Saint Vincent and the Grenadines                        0.000012
Tuvalu                                                  0.000012
Papua New Guinea                                        0.000012
Name: proportion, Length: 181, dtype: float64

In [19]:
country_grp=dat2.groupby(['Country'])

In [20]:
country_grp.get_group('India')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6.0,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
22,23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7.0,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
39,40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3.0,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
49,50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
52,53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5.0,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7.0,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83406,83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2.0,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83410,83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1.0,...,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83411,83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8.0,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83417,83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3.0,...,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [23]:
#using filter to sort the data's
filt= dat2['Country'] =='Canada'
filt

0        False
1        False
2        False
3        False
4        False
         ...
83434    False
83435    False
83436    False
83437     True
83438    False
Name: Country, Length: 83439, dtype: bool

In [22]:
dat2.loc[filt]['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          1284
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        449
Some college/university study without earning a degree                                 415
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     298
Associate degree (A.A., A.S., etc.)                                                    182
Primary/elementary school                                                              155
Something else                                                                         104
Other doctoral degree (Ph.D., Ed.D., etc.)                                              89
Professional degree (JD, MD, etc.)                                                      25
Name: count, dtype: int64

In [24]:
country_grp['EdLevel'].value_counts().head(50)

Country      EdLevel
Afghanistan  Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           21
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     10
             Primary/elementary school                                                               8
             Some college/university study without earning a degree                                  6
             Something else                                                                          6
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                         5
             Professional degree (JD, MD, etc.)                                                      4
             Associate degree (A.A., A.S., etc.)                                                     1
Albania      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           24
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        19
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     12
             Some college/university study without earning a degree                                  6
             Something else                                                                          4
             Primary/elementary school                                                               2
             Associate degree (A.A., A.S., etc.)                                                     2
             Professional degree (JD, MD, etc.)                                                      1
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
Algeria      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        19
             Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            8
             Some college/university study without earning a degree                                  6
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              3
             Professional degree (JD, MD, etc.)                                                      3
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)      3
             Something else                                                                          2
             Associate degree (A.A., A.S., etc.)                                                     2
Andorra      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            4
             Some college/university study without earning a degree                                  4
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                         2
             Professional degree (JD, MD, etc.)                                                      1
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
Angola       Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            8
             Some college/university study without earning a degree                                  7
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)      6
             Primary/elementary school                                                               2
             Professional degree (JD, MD, etc.)                                                      2
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
             Associate degree (A.A., A.S., etc.)                                                     1
Argentina    Some college/university study without earning a degree                                228
             Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          146
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     82
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        45
             Professional degree (JD, MD, etc.)                                                     30
             Associate degree (A.A., A.S., etc.)                                                    28
             Primary/elementary school                                                              11
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              9
             Something else                                                                          8
Armenia      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           36
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        24
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     10
             Some college/university study without earning a degree                                  6
Name: count, dtype: int64

In [26]:
fl2=dat2['Gender'] == 'Woman'
fl2

0        False
1        False
2        False
3        False
4        False
         ...
83434    False
83435    False
83436    False
83437    False
83438    False
Name: Gender, Length: 83439, dtype: bool

In [27]:
dat2.loc[fl2]['Age1stCode'].value_counts(normalize=True)

Age1stCode
11 - 17 years           0.431458
18 - 24 years           0.340394
5 - 10 years            0.093986
25 - 34 years           0.084003
35 - 44 years           0.020940
Younger than 5 years    0.017044
45 - 54 years           0.006818
55 - 64 years           0.003652
Older than 64 years     0.001704
Name: proportion, dtype: float64

In [28]:
country_grp['ConvertedCompYearly'].median().loc['Afghanistan']

9792.0

In [29]:
#viewing the mean and median country wise
country_grp['ConvertedCompYearly'].agg(['median','mean']).tail(40)

                                                      median           mean
Country
Senegal                                              15816.0   15370.500000
Serbia                                               31944.0  129877.872727
Sierra Leone                                             NaN            NaN
Singapore                                            64548.0  109176.479452
Slovakia                                             37620.0   45764.394161
Slovenia                                             40860.0   56961.792208
Somalia                                               9600.0    9600.000000
South Africa                                         46935.0   56919.556150
South Korea                                          44160.0  107689.129412
Spain                                                41077.0   79179.841546
Sri Lanka                                            11544.0   12937.417647
Sudan                                                 6528.0   10219.636364
Suriname                                              8406.0    8406.000000
Swaziland                                             9518.0   21140.166667
Sweden                                               56814.5   76051.500000
Switzerland                                         101649.0  158025.840708
Syrian Arab Republic                                 11826.0   18600.833333
Taiwan                                               28567.0   45630.030488
Tajikistan                                            8664.0    9900.000000
Thailand                                             26904.0   58518.926316
The former Yugoslav Republic of Macedonia            23352.0   26475.942857
Togo                                                  5100.0    5656.000000
Trinidad and Tobago                                  26640.0   38050.909091
Tunisia                                              10524.0   15070.701754
Turkey                                               24657.5   37450.313653
Turkmenistan                                         13716.0   13503.000000
Tuvalu                                                   NaN            NaN
Uganda                                               12120.0   25662.181818
Ukraine                                              41592.0   43968.127660
United Arab Emirates                                 42468.0   53764.662651
United Kingdom of Great Britain and Northern Ir...   74970.0  141688.554608
United Republic of Tanzania                           7536.0   19254.076923
United States of America                            125000.0  262993.898480
Uruguay                                              40980.0   50857.690265
Uzbekistan                                           15120.0   19029.828571
Venezuela, Bolivarian Republic of...                 12000.0   22465.048387
Viet Nam                                             12678.0   19952.885135
Yemen                                                 3954.0    5628.666667
Zambia                                                9816.0   19914.909091
Zimbabwe                                              7200.0   11414.769231

In [30]:
#viewing the mean and median for particular country
country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['Canada']

median     75631.000000
mean      135732.563006
Name: Canada, dtype: float64

In [32]:
fl=dat2['Country']== 'India'
fl

0        False
1        False
2        False
3        False
4        False
         ...
83434    False
83435    False
83436    False
83437    False
83438    False
Name: Country, Length: 83439, dtype: bool

In [33]:
dat2.loc[fl]['LanguageHaveWorkedWith'].str.contains('Python').sum()

5233

In [34]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).value_counts(normalize=True)

LanguageHaveWorkedWith
1       0.071823
4       0.066298
3       0.055249
2       0.038674
0       0.038674
          ...
295     0.005525
2713    0.005525
1423    0.005525
61      0.005525
173     0.005525
Name: proportion, Length: 96, dtype: float64

In [35]:
country_respondents=dat2['Country'].value_counts()

In [36]:
country_respondents

Country
United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: count, Length: 181, dtype: int64

In [37]:
country_uses_python=country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [38]:
country_uses_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [39]:
python_dat2=pd.concat([country_respondents,country_uses_python],axis='columns',sort=False)

In [40]:
python_dat2

,count,LanguageHaveWorkedWith
Country,,
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [41]:
python_dat2.rename(columns={'count':'country_respondents','LanguageHaveWorkedWith':'NumknowsPython'},inplace=True)

In [42]:
python_dat2

,country_respondents,NumknowsPython
Country,,
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [43]:
python_dat2

,country_respondents,NumknowsPython
Country,,
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [44]:
pd.set_option('display.max_columns',None)

In [45]:
dat2

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7.0,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17.0,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6.0,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4.0,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10.0,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5.0,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14.0,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [46]:
python_dat2['pctknowsPython']=(python_dat2['NumknowsPython']/python_dat2['country_respondents'])*100

In [47]:
python_dat2

,country_respondents,NumknowsPython,pctknowsPython
Country,,,
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Saint Kitts and Nevis,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tuvalu,1,1,100.000000
Papua New Guinea,1,0,0.000000

In [48]:
python_dat2

,country_respondents,NumknowsPython,pctknowsPython
Country,,,
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Saint Kitts and Nevis,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tuvalu,1,1,100.000000
Papua New Guinea,1,0,0.000000

In [ ]:
python_dat2=python_dat2.drop('pctknowspython', axis=1)

In [53]:
python_dat2

,country_respondents,NumknowsPython,pctknowsPython
Country,,,
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Saint Kitts and Nevis,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tuvalu,1,1,100.000000
Papua New Guinea,1,0,0.000000

In [54]:
python_dat2.sort_values(by='pctknowsPython',ascending=False,inplace=True)

In [55]:
python_dat2.head(50)

,country_respondents,NumknowsPython,pctknowsPython
Country,,,
Tuvalu,1,1,100.000000
Brunei Darussalam,1,1,100.000000
Sierra Leone,2,2,100.000000
Dominica,1,1,100.000000
Liechtenstein,1,1,100.000000
Burundi,5,4,80.000000
Namibia,12,9,75.000000
Burkina Faso,4,3,75.000000
Bahamas,7,5,71.428571
Qatar,29,20,68.965517
Liberia,3,2,66.666667
Saint Lucia,3,2,66.666667
Cuba,34,22,64.705882
Iceland,43,27,62.790698
Bhutan,5,3,60.000000
Isle of Man,5,3,60.000000
Haiti,5,3,60.000000
Belize,5,3,60.000000
Singapore,339,203,59.882006
Republic of Korea,54,31,57.407407
Senegal,28,16,57.142857
Guyana,7,4,57.142857
Israel,913,515,56.407448
Maldives,16,9,56.250000
Oman,20,11,55.000000
Mauritius,31,17,54.838710
Zambia,22,12,54.545455
Chile,230,123,53.478261
Hong Kong (S.A.R.),198,105,53.030303
Canada,3012,1593,52.888446
Nepal,337,178,52.818991
Tunisia,150,79,52.666667
France,2708,1423,52.548006
Uganda,63,33,52.380952
United States of America,15288,7975,52.165097
Palestine,25,13,52.000000
Slovenia,235,122,51.914894
Azerbaijan,64,33,51.562500
Luxembourg,51,26,50.980392
Switzerland,922,470,50.976139
Australia,1646,831,50.486027
Kenya,263,132,50.190114
Democratic Republic of the Congo,10,5,50.000000
Guinea,2,1,50.000000
Jamaica,20,10,50.000000
Nomadic,54,27,50.000000
"Micronesia, Federated States of...",2,1,50.000000
Chad,2,1,50.000000
Gambia,2,1,50.000000
Swaziland,10,5,50.000000

In [56]:
python_dat2.loc['Japan']

country_respondents    429.000000
NumknowsPython         209.000000
pctknowsPython          48.717949
Name: Japan, dtype: float64

In [57]:
python_dat2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, Tuvalu to Papua New Guinea
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_respondents  181 non-null    int64
 1   NumknowsPython       181 non-null    int64
 2   pctknowsPython       181 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 9.7+ KB