In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.2'

In [4]:
pd.show_versions()

C:\Users\Otaku\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 965ceca9fd796940050d6fc817707bba1c4f9bff
python           : 3.11.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 2, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 2.0.2
numpy            : 1.24.3
pytz             : 2023.3
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 23.1.2
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.14.0
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : None
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
zstandard        : None
tzdata           : 2023.3
qtpy             : None
pyqt5            : None

In [11]:
#create an example dataframe
nor=pd.DataFrame({'col one':[100,200], 'col two':[300,400]})

In [12]:
nor

   col one  col two
0      100      300
1      200      400

In [13]:
nor=nor.rename({'col one':'col_one','col two':'col_two'},axis='columns')

In [14]:
nor

   col_one  col_two
0      100      300
1      200      400

In [15]:
nor=nor.columns.str.replace('_',' ')

In [48]:
nor.columns=['col_one','col_two']

In [49]:
nor

Index(['col one', 'col two'], dtype='object')

In [52]:
nor.add_prefix('X_')

AttributeError: 'Index' object has no attribute 'add_prefix'

In [2]:
#using random 
import pandas as pd
import numpy as np
auto=pd.DataFrame(np.random.rand(4,8))

In [3]:
auto

,0,1,2,3,4,5,6,7
0,0.528262,0.832883,0.991225,0.438569,0.912832,0.696499,0.054849,0.387434
1,0.439913,0.297101,0.383636,0.124314,0.374358,0.358351,0.478720,0.791377
2,0.905744,0.465520,0.662612,0.366713,0.063522,0.035877,0.187688,0.808646
3,0.261116,0.173708,0.145551,0.290644,0.079157,0.821668,0.107153,0.011306

In [4]:
#giving coulmns name
auto=pd.DataFrame(np.random.rand(7,13), columns=list('abcdefghijlmn'))

In [5]:
auto

,a,b,c,d,e,f,g,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
5,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
6,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365

In [6]:
#renameing the columns
auto=auto.rename({'a':'col one','b':'col two','c':'col three','c':'col four','d':'col five','e':'col six','f':'col seven','g':'col eight'},axis='columns')

In [7]:
auto

,col one,col two,col four,col five,col six,col seven,col eight,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
5,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
6,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365

In [8]:
auto.columns=auto.columns.str.replace(' ','_')

In [9]:
auto

,col_one,col_two,col_four,col_five,col_six,col_seven,col_eight,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
5,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
6,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365

In [10]:
auto.add_prefix('X_')

,X_col_one,X_col_two,X_col_four,X_col_five,X_col_six,X_col_seven,X_col_eight,X_h,X_i,X_j,X_l,X_m,X_n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
5,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
6,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365

In [11]:
auto.add_suffix('_Y')

,col_one_Y,col_two_Y,col_four_Y,col_five_Y,col_six_Y,col_seven_Y,col_eight_Y,h_Y,i_Y,j_Y,l_Y,m_Y,n_Y
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
5,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
6,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365

In [12]:
# 4.) reverse row order
auto.head()

,col_one,col_two,col_four,col_five,col_six,col_seven,col_eight,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484

In [13]:
auto.loc[::-1].head   #reverseing the total data

<bound method NDFrame.head of     col_one   col_two  col_four  col_five   col_six  col_seven  col_eight  \
6  0.756439  0.425080  0.449843  0.805364  0.056141   0.835303   0.709313
5  0.094408  0.385583  0.202278  0.456698  0.618326   0.100025   0.917908
4  0.903108  0.815517  0.180890  0.912401  0.648617   0.495163   0.605870
3  0.240382  0.532867  0.918842  0.739546  0.810350   0.704737   0.879530
2  0.878431  0.244853  0.918068  0.086514  0.380647   0.693359   0.867046
1  0.036517  0.027454  0.000567  0.953770  0.939733   0.955930   0.481719
0  0.938376  0.764763  0.484661  0.727897  0.656622   0.943814   0.283713

          h         i         j         l         m         n
6  0.501085  0.078414  0.980458  0.212475  0.967017  0.997365
5  0.283074  0.994031  0.769534  0.851612  0.661079  0.558423
4  0.795977  0.874326  0.794316  0.434984  0.408058  0.485484
3  0.005547  0.320287  0.845583  0.468201  0.713732  0.062093
2  0.446644  0.446896  0.315614  0.862214  0.655059  0.003243
1  0.003616  0.252207  0.869342  0.746296  0.374551  0.135669
0  0.354260  0.688485  0.540845  0.329636  0.446949  0.326633  >

In [14]:
auto.loc[::-1].reset_index(drop=True).head() #reseting the index values

,col_one,col_two,col_four,col_five,col_six,col_seven,col_eight,h,i,j,l,m,n
0,0.756439,0.425080,0.449843,0.805364,0.056141,0.835303,0.709313,0.501085,0.078414,0.980458,0.212475,0.967017,0.997365
1,0.094408,0.385583,0.202278,0.456698,0.618326,0.100025,0.917908,0.283074,0.994031,0.769534,0.851612,0.661079,0.558423
2,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243

In [15]:
auto.loc[:,::-1].head

<bound method NDFrame.head of           n         m         l         j         i         h  col_eight  \
0  0.326633  0.446949  0.329636  0.540845  0.688485  0.354260   0.283713
1  0.135669  0.374551  0.746296  0.869342  0.252207  0.003616   0.481719
2  0.003243  0.655059  0.862214  0.315614  0.446896  0.446644   0.867046
3  0.062093  0.713732  0.468201  0.845583  0.320287  0.005547   0.879530
4  0.485484  0.408058  0.434984  0.794316  0.874326  0.795977   0.605870
5  0.558423  0.661079  0.851612  0.769534  0.994031  0.283074   0.917908
6  0.997365  0.967017  0.212475  0.980458  0.078414  0.501085   0.709313

   col_seven   col_six  col_five  col_four   col_two   col_one
0   0.943814  0.656622  0.727897  0.484661  0.764763  0.938376
1   0.955930  0.939733  0.953770  0.000567  0.027454  0.036517
2   0.693359  0.380647  0.086514  0.918068  0.244853  0.878431
3   0.704737  0.810350  0.739546  0.918842  0.532867  0.240382
4   0.495163  0.648617  0.912401  0.180890  0.815517  0.903108
5   0.100025  0.618326  0.456698  0.202278  0.385583  0.094408
6   0.835303  0.056141  0.805364  0.449843  0.425080  0.756439  >

In [16]:
auto.dtypes

col_one      float64
col_two      float64
col_four     float64
col_five     float64
col_six      float64
col_seven    float64
col_eight    float64
h            float64
i            float64
j            float64
l            float64
m            float64
n            float64
dtype: object

In [17]:
auto.select_dtypes(include='number').head()

,col_one,col_two,col_four,col_five,col_six,col_seven,col_eight,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484

In [18]:
auto.select_dtypes(include='object').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [19]:
auto.select_dtypes(exclude='object').head()

,col_one,col_two,col_four,col_five,col_six,col_seven,col_eight,h,i,j,l,m,n
0,0.938376,0.764763,0.484661,0.727897,0.656622,0.943814,0.283713,0.354260,0.688485,0.540845,0.329636,0.446949,0.326633
1,0.036517,0.027454,0.000567,0.953770,0.939733,0.955930,0.481719,0.003616,0.252207,0.869342,0.746296,0.374551,0.135669
2,0.878431,0.244853,0.918068,0.086514,0.380647,0.693359,0.867046,0.446644,0.446896,0.315614,0.862214,0.655059,0.003243
3,0.240382,0.532867,0.918842,0.739546,0.810350,0.704737,0.879530,0.005547,0.320287,0.845583,0.468201,0.713732,0.062093
4,0.903108,0.815517,0.180890,0.912401,0.648617,0.495163,0.605870,0.795977,0.874326,0.794316,0.434984,0.408058,0.485484

In [20]:
auto.select_dtypes(exclude='number').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [21]:
#changing the datatype
auto.astype({'col_one':'int','col_two':'int'}).dtypes

col_one        int32
col_two        int32
col_four     float64
col_five     float64
col_six      float64
col_seven    float64
col_eight    float64
h            float64
i            float64
j            float64
l            float64
m            float64
n            float64
dtype: object

In [22]:
import pandas as pd

In [43]:
puu=pd.read_csv("D:\Desktop\VS studio\Data\survey_results_public.csv",index_col='Responseld')

ValueError: Index Responseld invalid

In [24]:
puu

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [25]:
puu.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 265.5 MB

In [26]:
cols=['ResponseId','MainBranch','Country','LanguageHaveWorkedWith','Age','Gender','Accessibility','ConvertedCompYearly','NEWOtherComms']

In [40]:
smaller_puu=pd.read_csv("D:\Desktop\VS studio\Data\survey_results_public.csv",usecols=cols)

In [41]:
smaller_puu.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ResponseId              83439 non-null  int64
 1   MainBranch              83439 non-null  object
 2   Country                 83439 non-null  object
 3   LanguageHaveWorkedWith  82357 non-null  object
 4   NEWOtherComms           82828 non-null  object
 5   Age                     82407 non-null  object
 6   Gender                  82286 non-null  object
 7   Accessibility           77603 non-null  object
 8   ConvertedCompYearly     46844 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 42.5 MB

In [29]:
smaller_puu

,ResponseId,MainBranch,Country,LanguageHaveWorkedWith,NEWOtherComms,Age,Gender,Accessibility,ConvertedCompYearly
0,1,I am a developer by profession,Slovakia,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,No,25-34 years old,Man,None of the above,62268.0
1,2,I am a student who is learning to code,Netherlands,JavaScript;Python,No,18-24 years old,Man,None of the above,NaN
2,3,"I am not primarily a developer, but I write co...",Russian Federation,Assembly;C;Python;R;Rust,Yes,18-24 years old,Man,None of the above,NaN
3,4,I am a developer by profession,Austria,JavaScript;TypeScript,No,35-44 years old,Man,I am deaf / hard of hearing,NaN
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...,Bash/Shell;HTML/CSS;Python;SQL,No,25-34 years old,Man,None of the above,NaN
...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,United States of America,Clojure;Kotlin;SQL,No,25-34 years old,Man,None of the above,160500.0
83435,83436,I am a developer by profession,Benin,NaN,No,18-24 years old,Man,None of the above,3960.0
83436,83437,I am a developer by profession,United States of America,Groovy;Java;Python,No,25-34 years old,Man,None of the above,90000.0
83437,83438,I am a developer by profession,Canada,Bash/Shell;JavaScript;Node.js;Python,No,25-34 years old,Man,None of the above,816816.0
83438,83439,I am a developer by profession,Brazil,Delphi;Elixir;HTML/CSS;Java;JavaScript,No,18-24 years old,Man,None of the above,21168.0

In [47]:
fuller_puu=pd.read_csv("D:\Desktop\VS studio\Data\survey_results_public.csv")

In [48]:
fuller_puu

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [51]:
fuller_puu.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
fu